*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    background-color: var(--background-color, #f2f4f4);
    color: var(--color, #1c1f33);
    font-family: var(--font);
    min-height: 100vh;
    line-height: 1.5;
    font-size: 1.125rem;
}

body > * {
    max-width: 992px;
    margin: 0 auto;
}

a {
    color: var(--link-color, #0033cc);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

:root {
    --font: "EB Garamond", serif;
    --font-title: "Playfair Display", serif;
    --font-sans-serif: "Manrope", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0e0c0c;
        --color: #e3e0cc;
        --link-color: #809fff;
    }
}

h1, h2, h3, h4, button, input, label {
    line-height: 1.1;
}

h1, h2, h3, h4 {
    text-wrap: balance;
    font-family: var(--font-title);
    margin-block-end: 1rem;
}

p:not(:last-child) {
    margin-block-end: 1rem;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

hr {
    border-top: 1px solid var(--color, #1c1f33);
    opacity: 0.5;
}

.text-center {
    text-align: center;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.posts-item {
    display: block;
    padding: 1rem;
    box-shadow: 0 0 5rem rgba(125, 125, 125, 0.1);
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--color, #1c1f33);
    transition: transform 0.2s ease-in-out;
}

.posts-item:hover {
    text-decoration: underline;
    transform: translateY(-.25rem);
}

.img-header {
    aspect-ratio: 4/1;
    object-fit: cover;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.img-post {
    aspect-ratio: 16/9;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
